
.square {
  background:#f7f7f7;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  border-top: none;
  border-left: none;
  
  font-size: 50px;
  font-weight: bold;
  
  
  padding: 0;
  text-align: center;
  width: 60px;
  line-height: 48px;
  height: 60px;
  
    
    
    
    
    
 
 }
 
 
 /* Board */
.board-row:after {
  clear: both;
  content: "";
  
 }
 /* Game */
.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  ;
  margin: 0 auto;  
 }
 /* Game Info */
ul {
  padding-left: 0px;
 }
 .game-info {
  margin-left: 0px;
 }
 .status {
  margin-bottom: 10px;
 }
 